HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### LoG ###
*.log
upload/
logs/

### SYSTEM FILE ##
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

## package ##
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.jar

### docs ###
*.pptx
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf

### execute ###
*.com
*.class
*.dll
*.exe
*.o
*.so


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
