<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<body>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Custom scripts for this template -->
<script th:src="@{/bootstrap/js/coming-soon.min.js}"></script>
<script th:src="@{/bootstrap/js/common.js}"></script>

<!-- jquery ui for dialog -->
<script th:src="@{//code.jquery.com/ui/1.10.2/jquery-ui.js}"></script>

<!-- jquery ui for dialog error solve -->
<!-- f getclientrects is not a function error  -->
<!-- https://stackoverflow.com/questions/41362670/typeerror-r-getclientrects-is-not-a-function  -->
<script th:src="@{//code.jquery.com/jquery-migrate-3.0.0.min.js}"></script>

</body>
</html>